@using System.Web.Optimization
@model dynamic
@{
    Layout = null;
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>雪绒花_首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    @Styles.Render("~/Themes/default/css/cp.globle.min6.css")
    @Scripts.Render("~/Themes/default/js/cp.globle.min6.js")
    <script type="text/javascript">
        //全局变量
        var order_grid;

        $(function() {

            //初始化表格
            InitOrderGrid();
        });


        function  InitOrderGrid() {
            order_grid = $("#order_grid_data").bootgrid({
                ajax: true,
                post: function() {
                     return {
                         searchType: 2//1 数值 2 搜索条件
                    };
                //},
                url: "/api/OrderApi/GetBootGridOrders",
                selection: true,
                multiSelect: true,
                rowSelect: false,
                keepSelection: true,
                rowCount: [10, 30, 50],
                templates: {
                    header: "<div id=\"{{ctx.id}}\" class=\"{{css.header}}\"><div class=\"row\"><div class=\"col-sm-12 actionBar\"><div class=\"btn-group\" style=\"float:left;\"><button class=\"btn btn-default tip\" title=\"添加\" onclick=\"return order_add(); \"><span class=\"glyphicon glyphicon-plus\"></span>添加</button><button class=\"btn btn-default tip\" title=\"批量删除\" onclick=\"return order_multi_delete(); \"><span class=\"glyphicon glyphicon glyphicon glyphicon-trash\"></span>批量删除</button></div>" +
                        "<div class=\"search form-group\"><div class=\"input-group\"><span class=\"icon glyphicon input-group-addon glyphicon-search\"></span> <input type=\"text\" class=\"search-field form-control\" placeholder=\"输入关键字\"></div></div>" +
                        "<p class=\"{{css.actions}}\"></p></div></div></div>"
                },
                labels: {
                    all: "all", //checkbox全选的值
                    search: "请输入名称",
                    loading: "加载中...",
                    noResults: "对不起，暂无符合条件的记录！",
                    refresh: "刷新",
                    infos: "从{{ctx.start}} 到 {{ctx.end}}，共{{ctx.total}} 条记录"
                },
                formatters: {
                    "commands": function(column, row) {
                        return  "<button type=\"button\"  class=\"btn btn-link btn-sm btn-cmd tip\" onclick=\"return order_edit(" + row.Id + ");\" title=\"修改【自定义】\"><span class=\"glyphicon glyphicon-pencil\"></span></button>" +
                            "<button type=\"button\"  class=\"btn btn-link btn-sm btn-cmd tip\" onclick=\"return order_delete(" + row.Id + ");\" title=\"删除【自定义】\"><span class=\"glyphicon glyphicon-remove\"></span></button>";
                    }
                }
            }).on("loaded.rs.jquery.bootgrid", function(e) {
                //按钮提示
                $('.tip').tooltip({placement:"bottom"});
                //按钮气泡
                $('.pop').popover({ html: true, trigger: "hover" });
                //showMsg("数据加载完毕！", "Success");
            });
        }


        function order_add() {
            showTopWindow("order_show_add", "/Settings/Order/Edit?actionType=Add", null, 800, 400, function () {
                var order_form = $(top.window.frames["frm_order_show_add"].document).find("#order_form");
                //console.log(order_form);
                var flag = top.window.document.getElementById("frm_order_show_add").contentWindow.form_valid();
                if (!flag) {
                    return false;
                }
                 var data = $(order_form).serialize();
                //console.log((data));
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "/api/OrderApi/AddOrder",
                    data: data,
                    dataType: "json",
                    beforeSend: function() {
                       showTopDialog("show_add_loding", "<div class='dialog_loading'>添加中，请稍后...</div>", "温馨提示", 400, 95);
                    },
                    complete: function() {
                        //d.close().remove();
                    },
                    success: function(result) {
					    top.dialog.list["show_add_loding"].close().remove();
                        //toLowerCase报错
                        //var status = result.Status.toLowerCase();
                        var status = result.Status;
                        if (status == true || status == "true" || status == "True") {
                            //刷新数据
                            order_grid.bootgrid("reload");
                            showMsg("添加成功！", "Success");
                        } else {
                            showMsg("系统异常，添加失败！", "Error");
                        }
                    },
                    error: function() {
					    top.dialog.list["show_edit_loding"].close().remove();
                        showMsg("网络连接错误！", "Error");
                    }
                });

            });
            //必须有这个，阻止刷新
            return false;
        }

        function order_edit(id) {
             var url = "/Settings/Order/Edit?actionType=Edit&id=" + id;
            //console.log(id);
            showTopWindow("order_show_edit", "修改信息", "title", 800, 400, function() {
                 var order_form = $(top.window.frames["frm_order_show_edit"].document).find("#order_form");
                //console.log(order_form);
                var flag = top.window.document.getElementById("frm_order_show_edit").contentWindow.form_valid();
                if (!flag) {
                    return false;
                }
                 var data = $(order_form).serialize();
                //console.log((data));
                
				 showTopConfirm("确认提交该记录吗？", "温馨提示", function() {
				$.ajax({
                    type: "POST",
                    cache: false,
                    url: "/api/OrderApi/EditOrder",
                    data: data,
                    dataType: "json",
                    beforeSend: function() {
                       showTopDialog("show_edit_loding", "<div class='dialog_loading'>修改中，请稍后...</div>", "温馨提示", 400, 95);
                    },
                    complete: function() {
                        //d.close().remove();
                    },
                    success: function(result) {
					top.dialog.list["show_edit_loding"].close().remove();
                        //toLowerCase报错
                        //var status = result.Status.toLowerCase();
                        var status = result.Status;
                        if (status == true || status == "true" || status == "True") {
                            //刷新数据
                            order_grid.bootgrid("reload");
                            //console.log(grid);

                            showMsg("修改成功！", "Success");
                        } else {
                            showMsg("系统异常，修改失败！", "Error");
                        }
                    },
                    error: function() {
					    top.dialog.list["show_edit_loding"].close().remove();
                        showMsg("网络连接错误！", "Error");
                    }
                });

            },function() {
                //top.dialog.list["pregnanterinfo_show_edit"].close().remove();
            });
            return false;
        });

            //必须有这个，阻止刷新
            return false;
        }

		function order_multi_delete() {
        var ids = get_selected_ids("order_grid_data");
        //console.log(ids);
        if (ids == "") {
            showTopMsg("请选择你要删除的记录，删除后不可恢复！", "错误提示", "Error");
            return false;
        }
        //return false;
        order_delete(ids);
         }

        function order_delete(ids) {
            showTopDialog("order_show_delete","<div class='dialog_confirm'>确认删除选中记录吗？删除后不可恢复！</div>","温馨提示",400, 75,function () {
                $.ajax({
                    type: "GET",
                    cache: false,
                    url:"/api/OrderApi/DeleteOrder?ids="+ids,
                    dataType: "json",
                    beforeSend: function() {
                         showTopDialog("show_delete_loding", "<div class='dialog_loading'>删除中，请稍后...</div>", "温馨提示", 400, 95);
                    },
                    complete: function() {
                        //d.close().remove();
                    },
                    success: function(result) {
					    top.dialog.list["show_delete_loding"].close().remove();
                        //toLowerCase报错
                        //var status = result.Status.toLowerCase();
                        var status = result.Status;
                        if (status == true || status == "true" || status == "True") {
                            //刷新数据
                            order_grid.bootgrid("reload");
                            showMsg("删除成功！", "Success");
                        } else {
                            showMsg("系统异常，删除失败！", "Error");
                        }
                    },
                    error: function() {
					    top.dialog.list["show_delete_loding"].close().remove();
                        showMsg("网络连接错误！", "Error");
                    }
                });
            });
            //必须有这个，阻止刷新
            return false;
        }


		//回收站
		         function clientinfo_trash() {
                var ids = get_selected_ids("clientinfo_grid_data");
                //console.log(ids);
                if (ids == "") {
                    showTopMsg("请选择你要删除的记录！", "错误提示", "Error");
                    return false;
                }
                //console.log(ids);
                //return false;
                showTopDialog("show_clientinfo_trash", "<div class='dialog_confirm'>确认将选中记录放入回收站吗？</div>", "温馨提示", 400, 75, function () {
                    $.ajax({
                        type: "GET",
                        cache: false,
                        url: "/api/ClientInfoApi/UpdateClientInfoStatus?ids=" + ids + "&status=1",
                        //data: { ids: ids },
                        dataType: "json",
                        beforeSend: function () {
                            //showMsg("添加中，请稍后...");
                        },
                        complete: function () {
                            //d.close().remove();
                        },
                        success: function (result) {
                            //toLowerCase报错
                            //var status = result.Status.toLowerCase();
                            var status = result.Status;
                            if (status == true || status == "true" || status == "True") {
                                //刷新数据
                                clientinfo_grid.bootgrid("reload");
                                showMsg("客户放入回收站成功！", "Success");
                            } else {
                                showMsg("系统异常，客户放入回收站失败！", "Error");
                            }
                        },
                        error: function () {
                            showTopMsg("网络连接错误!", "错误提示", "Error");
                        }
                    });
                });
                //必须有这个，阻止刷新
                return false;
            }
    </script>
 </head>
    <body>

<div style="margin: 0px 20px;">
    <table id="order_grid_data" class="table table-condensed table-hover table-striped table-bordered" data-selection="true" data-multi-select="true">
        <thead>
            <tr>
	       		  <th data-column-id="OrderCode" data-header-align="center" data-align="center" data-formatter="OrderCode" data-order="desc">order_code</th>
		  <th data-column-id="ClientId" data-header-align="center" data-align="center" data-formatter="ClientId" data-order="desc">client_id</th>
		  <th data-column-id="OrderType" data-header-align="center" data-align="center" data-formatter="OrderType" data-order="desc">order_type</th>
		  <th data-column-id="OrderBegin" data-header-align="center" data-align="center" data-formatter="OrderBegin" data-order="desc">order_begin</th>
		  <th data-column-id="OrderEnd" data-header-align="center" data-align="center" data-formatter="OrderEnd" data-order="desc">order_end</th>
		  <th data-column-id="OrderStatus" data-header-align="center" data-align="center" data-formatter="OrderStatus" data-order="desc">order_status</th>
		  <th data-column-id="OrderSumMoney" data-header-align="center" data-align="center" data-formatter="OrderSumMoney" data-order="desc">order_sumMoney</th>
		  <th data-column-id="OrderPrepaid" data-header-align="center" data-align="center" data-formatter="OrderPrepaid" data-order="desc">order_prepaid</th>
		  <th data-column-id="OrderCreater" data-header-align="center" data-align="center" data-formatter="OrderCreater" data-order="desc">order_creater</th>
		  <th data-column-id="OrderWeihu" data-header-align="center" data-align="center" data-formatter="OrderWeihu" data-order="desc">order_weihu</th>
		  <th data-column-id="OrderDate" data-header-align="center" data-align="center" data-formatter="OrderDate" data-order="desc">order_date</th>
		  <th data-column-id="OrderProcesstime" data-header-align="center" data-align="center" data-formatter="OrderProcesstime" data-order="desc">order_processtime</th>
 
	
		  <th data-column-id="Id" data-type="numeric" data-identifier="true" data-formatter="commands" data-sortable="false">操作</th>

 
		    </tr>
        </thead>
    </table>
</div>

</body>
</html>


