@using Ed.Entity
@using Ed.Web.Helpers
@model  List<Dictionary<string, object>> 



@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>雪绒花_订单管理首页</title>
    <link href="~/Themes/default/home/css/index.css" rel="stylesheet" type="text/css">
    <link href="/Themes/default/lib/artDialog/css/ui-dialog.css" rel="stylesheet" />
    <script src="~/Themes/default/lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
     <script src="/Themes/default/lib/artDialog/dist/dialog-plus-min.js" type="text/javascript"></script>
        <script src="/Themes/default/lib/function.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/javascript">
        $(function () {
            var m;
            $(".main li").hover(function () {
                m = $(this).index();
                $(".main li img").eq(m).animate({ width: "110px", marginTop: "0px" }, 200).animate({ width: "100px", marginTop: "5px" }, 200);
            }, function () {
                m = $(this).index();
                $(".main li img").eq(m).animate({ width: "90px", marginTop: "10px" }, 0);
            });

            var len = $(".main ul li").length;
            //alert(len);
            var wid = 182 * len;
            $(".main ul").css("width", wid + "px");
        });

        $(function () {
            $(".current-nav").mouseenter(function () {
                $(this).fadeOut(100, function () { $(".sidebar").animate({ left: "0" }, 300); });
            });
            $(".sidebar").mouseleave(function () {
                $(this).animate({ left: "-140px" }, 300, function () { $(".current-nav").fadeIn(0); });
            });
            var n;
            $(".sidebar li").hover(function () {
                n = $(this).index();
                $(".sidebar li img").eq(n).animate({ width: "70px", paddingTop: "0px" }, 200).animate({ width: "60px", paddingTop: "5px" }, 200);
            }, function () {
                n = $(this).index();
                $(".sidebar li img").eq(n).animate({ width: "50px", paddingTop: "10px" }, 0);
            });
        });


        function show_list() {
            showTopContentWindow("show_list", "/Finance/OrderFinance/List", "财务管理", 1000, 500);
        }
    </script>
    <!--固定顶部部分 开始-->
    <div class="header clearfix">
        <a href="javascript:void(0);" class="current-nav" style="display: block; ">
            <em class="menu-more-ico"></em><span id="g_mod_name">财务信息</span>
        </a>
        <div class="vh-avator-area">
            <div class="gl-lang-container">
                <div class="account-avator"><div class="account-avator-bg"></div></div>
                <span class="account-name" id="g_username2">@Session[EdKeys.SESSION_USER_NAME]（<b>@Session[EdKeys.SESSION_ROLE_NAME]</b>）<a href="/Account/Login/Logout/">安全退出</a></span>
            </div>
        </div>
    </div>
    <!--固定顶部部分 结束-->
    <!--主页主题部分 开始-->
    <div class="main">
        <div class="main-container">
            <ul>
                @if (Html.LoadModulePowers(@Model, "Customer"))
                {
                    <li onclick=" show_list(); "><img src="~/Themes/default/home/images/finace_01.png"><span>按订单统计</span></li>
                }
                @if (Html.LoadModulePowers(@Model, "Order"))
                {
                    <li onclick=" show_list(); "><img src="~/Themes/default/home/images/finace_02.png"><span>按流水统计</span></li>
                }               
                <div style="clear: both;"></div>
            </ul>
        </div>
    </div>
    <!--主页主题部分 结束-->
   
   <!--主页主题部分 结束-->
    <!--侧栏导航-->
    <ul class="sidebar">
        <li><a href="/"><img src="~/Themes/default/home/images/btn_06.png"><span>主页</span></a></li>
         @if (Html.LoadModulePowers(@Model, "Customer"))
         {
             <li><a href="/Home/Main/Customer/"><img src="~/Themes/default/home/images/home_btn_03.png"><span>客户管理</span></a></li>
         }
                @if (Html.LoadModulePowers(@Model, "Order"))
                {
        <li><a href="/Home/Main/Order/"><img src="~/Themes/default/home/images/home_btn_05.png"><span>订单管理</span></a></li> 
                    }
                @if (Html.LoadModulePowers(@Model, "Yuangong"))
                {
        <li><a href="/Home/Main/Yuangong/"><img src="~/Themes/default/home/images/home_btn_07.png"><span>员工管理</span></a></li>
                    }
                    @if (Html.LoadModulePowers(@Model, "Finance"))
                    {
        <li><a href="/Home/Main/Finance/"><img src="~/Themes/default/home/images/home_btn_09.png"><span>财务信息</span></a></li> 
                        }
                        @if (Html.LoadModulePowers(@Model, "Settings"))
                        {
                            <li><a href="/Home/Main/Seting/"><img src="~/Themes/default/home/images/home_btn_11.png"><span>系统设置</span></a></li>
                            }
    </ul>  
</body>
</html>

